SogetiSpain.MvvmCourse.WebServices.Client/Service References/ArtistServiceClient/ArtistService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SogetiSpain.MvvmCourse.WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SogetiSpain.MvvmCourse.WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArtistDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArtistDto" nillable="true" type="tns:ArtistDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtistDto" nillable="true" type="tns:ArrayOfArtistDto" />
  <xs:complexType name="ArtistDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArtistDto" nillable="true" type="tns:ArtistDto" />
</xs:schema>